<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Api Filmes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class="container text-center m-4 p-5">
   <ul class="nav nav-pills">
      <li class="nav-item">
         <a class="nav-link active" href="/docs">Back End - Docs - Fast Api</a>
      </li>
      <li class="nav-item">
         <a class="nav-link"  href="/redoc">Back End - Redocs - Fast Api</a>
      </li>
      <li class="nav-item">
         <a class="nav-link " href="https://www.enedino.com.br">Web Site Pessoal</a>
      </li>
   </ul>
</div>

<hr class="solid">
<h1 class="text-center">Robinson Enedino - Desafio Back End - Watt</h1>
<hr class="solid">
   <div class="container m-4 p-5">
      <h2>Todos os Filmes - /filmes GET</h2>

      <table class="table">
         <thead >
               <tr>
               <th >Filme</th>
               <th >Ano Lançamento</th>
               </tr>
            </thead>
            <tbody >
               {% for filme in filmes %}
               <tr>
                  <td > {{filme.movie_name}} </td>
                  <td > {{filme.movie_year}} </td>
               </tr>
               {% endfor %}
            </tbody>
      </table>
      <button type="button" class="btn btn-info" id="btn-todos">Todos os Filmes</button>
      <br>
   </div>
<br>
<hr class="solid">
   <div class="container m-4 p-5">
      <h2>Consulta de Filme por ID</h2>
      <form>
            <div class="form-group">
               <label for="id">ID</label>
               <input type="text" class="form-control" maxlength="9" id="id">
               <small>Integer ID</small>
               <br>
            </div>
            <div class="form-group">
               <label for="nome">Nome</label>
               <input type="text" class="form-control" id="movie_name">
               <small>movie_name</small>
            </div>
            <div class="form-group">
               <label for="ano">Ano</label>
               <input type="text" class="form-control" id="movie_year">
               <small>movie_year</small>
            </div>
            <button type="button" class="btn btn-info" id="btn-por-id">Consulta filme por ID</button>
      </form>
   </div>
<br>
<hr class="solid">
   <div class="container  m-4 p-5">
      <h2>Inserir Novo Filme</h2>
      <form>
            <div class="form-group">
               <label for="nome_ins">Nome</label>
               <input type="text" class="form-control" id="movie_name_ins">
            </div>
            <div class="form-group">
               <label for="ano_ins">Ano</label>
               <input type="text" class="form-control" id="movie_year_ins">
            </div>
            <button type="button" class="btn btn-info" id="btn-insere-filme">Insere Filme</button>
      </form>
   </div>
   <hr class="solid">



<script>
      const id_text_field = document.querySelector("#id")
      const botao_filme_por_id = document.querySelector("#btn-por-id")

      const showData = (result)=>{
         if(result === 'null'){
            document.querySelector("#movie_name").value = "Não encontrado";
            document.querySelector("#movie_year").value = "Não encontrado";
            alert("Não encontrado");
         }else{
            //console.log(result);
            for(const campo in result){
               if(document.querySelector("#"+campo)){
                     document.querySelector("#"+campo).value = result[campo]
               }
            }
         }
      }

      botao_filme_por_id.addEventListener("click",(e)=>{
         let search = id_text_field.value
         const options = {
            method: 'GET',
            mode: 'cors',
            cache: 'default'
         }

         fetch(`/filmes/${search}`, options)
         .then(response =>{ response.json()
            .then( data => showData(data))
         })
         .catch(e => console.log('Deu Erro: '+ e,message))
      })

      const botao_todos = document.querySelector("#btn-todos")
      botao_todos.addEventListener("click",(e)=>{

         document.location.reload(true);
      })


      const botao_insere = document.querySelector("#btn-insere-filme")
      botao_insere.addEventListener("click",(e)=>{

         let ano = parseInt(document.querySelector("#movie_year_ins").value);
         let nome_filme = document.querySelector("#movie_name_ins").value;

         if(isNaN(ano)||(nome_filme === "")) {
            console.log("vazio");
            console.log(ano);
            console.log(nome_filme);
            alert(`Por favor! \nPreencha todos os campos.\nAnos devem ser inteiros!`);
         } else{
               let _data = {
               movie_name: nome_filme,
               movie_year: ano,
            }
            
            fetch('/add_filme', {
               method: "POST",
               body: JSON.stringify(_data),
               headers: {"Content-type": "application/json; charset=UTF-8"}
            })
            .then(response => response.json()) 
            .then(json => console.log(json));
            // document.location.reload(true);
         }



      })





</script>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</body>
</html>